<template>
  <div class="section">
    <h1 class="title">À propos</h1>
    <p>Cette page affiche le statut TLS des services Framasoft et autres sites hébergés par l’association, et la présence (ou non) des champs DNS A (IPv4) et AAAA (IPv6).</p>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class Home extends Vue {}
</script>

